<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>
<P><strong>Title:</strong><%= @book.title %></P>
<p><strong>Body:</strong><%= @book.body %></p>
<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Back", "/books" %>